.startup {
    position: relative;
    background: linear-gradient(#2626274d,rgba(39, 39, 39, 0.3)), url(./soo6.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 110vh;
}
.web {
    position: relative;
    width: 530px;
    height: 360px;
    top: 420px;
    right: 280px;
}
.start-title {
    position: relative;
    top: 240px;
}
.start-title {
    text-align: left;
}
.opp {
   position: relative;
   top: 850px;
}