.learn {
    position: relative;
    background: linear-gradient(#2626274d,rgba(39, 39, 39, 0.3)), url(./soo1.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 190vh;
}
.soft-titlee {
    position: relative;
    left: 150px;
    top: 80px;
    background-color: white;
    text-align: left;
    width: 720px;
    height: 850px;
}
.soft-titlee p {
    position: relative;
    bottom: 20px;
    color: #1d2127cc;
    font-size: 18px;
    width: 550px;
}
.soft-titlee h1 {
    font-size: 70px;
    position: relative;
    bottom: 55px;
}
.soft-titlee a {
    position: relative;
    bottom: 20px;
}
.learn-cards {
    position: relative;
    top: 100px;
    width: 100%;
    height: 550%;
    background-color: #eceef1;
}
.learn-cards h1 {
    position: relative;
    top: 80px;
    left: 40px;
    font-size: 80px;
    text-align: left;
}
.card-text {
    text-align: left;
    width: 250px;
    height: 200px;
}

.foot-card{
    position: relative;
    top: 6000px;
}
.card {
    position: relative;
    align-items: center;
    top: 300px;
}
.card img {
    width: 18rem;
}
.card-body {
    height: 200px;
}
.card2 {
    position: relative;
    top: 800px;
}
.card3 {
    position: relative;
    top: 1500px;
}
.card4 {
    position: relative;
    top: 2100px;
}
.card5 {
    position: relative;
    top: 2800px;
}
.card6 {
    position: relative;
    top: 3660px;
}
.card7 {
    position: relative;
    top: 4150px;
}
.card8 {
    position: relative;
    top: 4770px;
}
.card9 {
    position: relative;
    top: 5400px;
}
.foot-card h1 {
    position: relative;
    font-size: 20px;
    top: 3px;
    left: 600px;
}

