.preheader  {
    width: 100%;
    height: 60px;
    color: white;
    background-color: #3c7ab7;
    text-align: center;
    font-size: 13px;
    
    
}
.preheader ul {
    position: relative;
    left: 100px;
    display: flex;
    list-style: none;
    
}
.preheader ul li {
     margin: 20px;
}
.preheader ul li a {
    text-decoration-line: none;
    color: white;
    margin: 15px;
}
.lg {
    position: relative;
    background-color: white;
    border: 1px solid white;
    width: 40px;
    height: 30px;
    bottom: 5px;

}
.lg a {
    position: relative;
    right: 7px;
    
}
.lg i {
    position: relative;
    top: 4px;
    left: 3px;
    color: #3c7ab7;
}
.lg:hover {
    background-color:  #3c7ab7;
    color: white;
}


.lg:hover i {
    color: white;
}
.header {
    width: 100%;
    height: 60px;
    background-color: white;
    text-align: center;
}
.logo {
    position: relative;
    height: 35px;
    right: 470px;
    top: 12px;
}
.flex {
    
    display: flex;
    position: relative;
    text-align: center;
    list-style: none;
    left: 480px;
    bottom: 15px;
}


.flex  li a {
    margin: 13px;
    text-decoration-line: none;
    color:  black ;

}
.dropdown {
    position: relative;
    bottom: 25px;
}
  
.bb:hover {
    box-sizing: content-box;  
    width: 150px;
    height: 10px;
    padding: 10px; 
    padding-left: 20px; 
    padding-right: 20px;
    border: 2px solid #3c7ab7;
    color: #3c7ab7;
}

.plus {
    position: relative;
    top: 25px;
}
.plus:hover {
    box-sizing: content-box;  
    width: 150px;
    height: 10px;
    padding: 10px; 
    padding-left: 20px; 
    padding-right: 20px;
    border: 2px solid #3c7ab7;
    color: #3c7ab7;

}
.dropdown a:hover {
    background-color: white;
    color: #3c7ab7;
}
.trans {
    position: relative;
    bottom: 70px;
    left: 150px;
}
